{
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          "@config": "./tsc_out/config/marmoym-config",
          "@constants": "./tsc_out/constants",
          "@controllers": "./tsc_out/controllers",
          "@customTypes": "./tsc_out/customTypes",
          "@daos": "./tsc_out/daos",
          "@models": "./tsc_out/models",
          "@src": "./tsc_out"
        }
      }
    ]
  ]
}