{
  "plugins": [
    [
      "module-resolver", {
        "alias": {
          /* `ts_out` is the path that Babel processes */
          "@controllers": "./ts_out/controllers",
          "@daos": "./ts_out/daos",
          "@models": "./ts_out/models",
          "@src": "./ts_out"
        }
      }
    ]
  ]
}